<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Success</title>
  </head>   
  <body style="box-sizing: border-box; width: 100%; background-color: #f5f5f6; font-family: Arial, sans-serif; margin: 0; min-height: 100vh;">
    <div class="container" style="background-color: #f5f5f6; width: 100%; max-width: 100%; padding: 40px 0px; margin: 0 auto;">
      <div class="card" style="padding-top: 24px; background-color: #ffffff; width: 100%; max-width: 600px; margin: 0 auto; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center; box-sizing: border-box; overflow: hidden;">
        <!-- Logo -->
        <div>
          <img
            src="https://res.cloudinary.com/daprkakyk/image/upload/v1741260445/luxe/uiiqdcle3kayym5qg1kp.png"
            alt="Steam Institute"
            class="logo"
            style="max-width: 100%; height: auto; width: 96px; margin: 0 auto 16px;"
          />
        </div>
        <!-- Welcome Message -->
        <h2 class="welcome-text" style="font-size: 18px; font-weight: bold; color: #1f2937;"><%= title %></h2>
        <div class="divider" style="border-bottom: 2px solid #d1d5db; width: 80%; margin: 12px auto;"></div>
        <div class="background-section" style=" background-size: 215%; background-position: calc(100% + 240px) calc(100% + 180px); padding: 4px 0;">
          <div class="course-image-container" style=" width: 320px; height: 256px; margin: 8px auto 0; display: flex; justify-content: center; align-items: center; max-width: 320px;position: relative;">
            <div class="" style="width: 100%; background-color: #ffffff; position: absolute;  "></div>
            <img
              src="<%= courseImage %>"
              alt="Course Image"
              class="course-image"
              style="max-width: 100%; height: auto; width: 100%;"
            />
          </div>
          <div class="content" style="width: 100%;">
            <div style="width: 85%;  margin: 16px auto;"> 
              <% if (title === "Booking Confirmation") { %>
                <% if (recipientEmail === studentEmail) { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= studentName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    Your booking has been successfully confirmed with <%= teacherName %>. Here are your session details:
                  </p>
                <% } else { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= teacherName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    A new session has been confirmed with <%= studentName %>. Here are your session details:
                  </p>
                <% } %>
              <% } else if (title === "Booking Cancellation") { %>
                <% if (recipientEmail === studentEmail) { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= studentName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    <%= cancelledBy === "student" ? "You have" : teacherName + " has" %> cancelled the booking. Here are the cancelled session details:
                  </p>
                <% } else { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= teacherName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    <%= cancelledBy === "teacher" ? "You have" : studentName + " has" %> cancelled the booking. Here are the cancelled session details:
                  </p>
                <% } %>
              <% } else if (title === "Booking Scheduled") { %>
                <% if (recipientEmail === studentEmail) { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= studentName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    Your booking request has been scheduled with <%= teacherName %>. Here are your session details:
                  </p>
                <% } else { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= teacherName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    <%= studentName %> has requested to book a session with you. Here are the session details:
                  </p>
                <% } %>
              <% } else if (title === "Reschedule Request") { %>
                <% if (recipientEmail === studentEmail) { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= studentName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    <%= requestedBy === 'student' ? 'You have' : `${teacherName} has` %> requested to reschedule your session. Here are the current session details:
                  </p>
                <% } else { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= teacherName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    <%= requestedBy === 'teacher' ? 'You have' : `${studentName} has` %> requested to reschedule the session. Here are the current session details:
                  </p>
                <% } %>
              <% } else if (title === "Reschedule Rejection") { %>
                <% if (recipientEmail === studentEmail) { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= studentName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    <%= requestedBy === "student" ? "Your reschedule request has been rejected by " + teacherName : teacherName + " has cancelled their reschedule request" %>. Here are the session details:
                  </p>
                <% } else { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= teacherName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    <%= requestedBy === "teacher" ? "Your reschedule request has been rejected by " + studentName : "You have rejected " + studentName + "'s reschedule request" %>. Here are the session details:
                  </p>
                <% } %>
              <% } else if (title === "Booking Reschedule Confirmation") { %>
                <% if (recipientEmail === studentEmail) { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= studentName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    Your session with <%= teacherName %> has been successfully rescheduled. Here are your updated session details:
                  </p>
                <% } else { %>
                  <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= teacherName %> ,</h3>
                  <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                    Your session with <%= studentName %> has been successfully rescheduled. Here are your updated session details:
                  </p>
                <% } %>
              <% } else { %>
                <h3 class="greeting" style="font-size: 14px; font-weight: bold; color: #808080; text-align: left;">Hi <%= teacherName %> ,</h3>
                <p class="message" style="font-size: 14px; color: #4b5563; margin-top: 12px; padding: 0; text-align: left;">
                  A new booking has been scheduled with <%= studentName %>. Here are your session details:
                </p>
              <% } %>
            </div>

            <h3 class="section-title" style="font-size: 18px; font-weight: bold; color: #000000; margin-top: 40px; text-align: center;">Session Details</h3>
            <table style="font-size: 14px; color: #4b5563; width: 90%; max-width: 90%; margin: 24px auto; border-collapse: separate; border-spacing: 0 8px;">
              <tr>
                <% if (recipientEmail === studentEmail) { %>
                <th style="width: 45%; padding: 8px 5% 8px 0; text-align: right; color: #4b5563; vertical-align: top; font-weight: bold;">Teacher:</th>
                <td style="width: 50%; padding: 8px 0; text-align: left; color: #1f2937; font-weight: 500; vertical-align: top;"><%= teacherName %></td>
                <% } else { %>
                <th style="width: 45%; padding: 8px 5% 8px 0; text-align: right; color: #4b5563; vertical-align: top; font-weight: bold;">Student:</th>
                <td style="width: 50%; padding: 8px 0; text-align: left; color: #1f2937; font-weight: 500; vertical-align: top;"><%= studentName %></td>
                <% } %>
              </tr>
              <tr>
                <th style="width: 45%; padding: 8px 5% 8px 0; text-align: right; color: #4b5563; vertical-align: top; font-weight: bold;">Date:</th>
                <td style="width: 50%; padding: 8px 0; text-align: left; color: #1f2937; font-weight: 500; vertical-align: top;"><%= bookingDate %></td>
              </tr>
              <tr>
                <th style="width: 45%; padding: 8px 5% 8px 0; text-align: right; color: #4b5563; vertical-align: top; font-weight: bold;">Time:</th>
                <td style="width: 50%; padding: 8px 0; text-align: left; color: #1f2937; font-weight: 500; vertical-align: top;"><%= startTime %> - <%= endTime %></td>
              </tr>
              <tr>
                <th style="width: 45%; padding: 8px 5% 8px 0; text-align: right; color: #4b5563; vertical-align: top; font-weight: bold;">Course:</th>
                <td style="width: 50%; padding: 8px 0; text-align: left; color: #1f2937; font-weight: 500; vertical-align: top;"><%= courseName %></td>
              </tr>
              <tr>
                <th style="width: 45%; padding: 8px 5% 8px 0; text-align: right; color: #4b5563; vertical-align: top; font-weight: bold;">Amount:</th>
                <td style="width: 50%; padding: 8px 0; text-align: left; color: #1f2937; font-weight: 500; vertical-align: top;">ZAR <%= amount %></td>
              </tr>
              <% if ((title === "Booking Confirmation" || title === "Booking Cancellation") && meetingPlatform && meetingLink) { %>
              <tr>
                <th style="width: 45%; padding: 8px 5% 8px 0; text-align: right; color: #4b5563; vertical-align: top; font-weight: bold;">Platform:</th>
                <td style="width: 50%; padding: 8px 0; text-align: left; color: #1f2937; font-weight: 500; vertical-align: top;"><%= meetingPlatform %></td>
              </tr>
              <tr>
                <th style="width: 45%; padding: 8px 5% 8px 0; text-align: right; color: #4b5563; vertical-align: top; font-weight: bold;">Meeting Link:</th>
                <td style="width: 50%; padding: 8px 0; text-align: left; color: #1f2937; font-weight: 500; vertical-align: top;"><a href="<%= meetingLink %>" style="color: #2563eb; text-decoration: underline;"><%= meetingLink %></a></td>
              </tr>
              <% } %>
            </table>

            
            <h3 class="section-title" style="width: 85%;  margin: 16px auto; font-size: 18px; font-weight: bold; color: #000000; margin-top: 40px; text-align: center;">What's Next</h3>
        
            <ul style="width: 85%;  margin: 16px auto; font-size: 14px; color: #000000; text-align: left; padding-left: 0; max-width: 100%; margin: 0 auto; list-style-type: none;">
              <% if (title === "Booking Cancellation" || title === "Reschedule Request") { %>
              <li style="margin-bottom: 8px; text-align: left; display: flex; color: #000000;">
                <span style="margin-right: 8px;">•</span>
                <span style="color: #000000;"><span style="font-weight: bold;">Reason :</span> <%= cancellationReason %></span>
              </li>
              <% } %>
              <li style="margin-bottom: 8px; text-align: left; display: flex; color: #000000;">
                <span style="margin-right: 8px;">•</span>
                <span style="color: #000000;"><%= nextStepOne %></span>
              </li>
              <li style="margin-bottom: 8px; text-align: left; display: flex; color: #000000;">
                <span style="margin-right: 8px;">•</span>
                <span style="color: #000000;"><%= nextStepTwo %></span>
              </li>
            </ul>
            <div style="position: relative; width: full; height: 150px; background-repeat: no-repeat; background-image: url('https://res.cloudinary.com/daprkakyk/image/upload/v1741352854/luxe/tqfcqsu7qupogitjybfu.png');"
              class="background-image"
            >
              <!--[if !mso]><!-->
              <style type="text/css">
                @media screen and (max-width: 600px) {
                  .background-image {
                    background-image: none !important;
                  }
                }
              </style>
              <!--<![endif]-->
              <button class="button" style="z-index: 1; position: relative; background-color: #000000; color: #ffffff; padding: 8px 24px; border-radius: 4px; font-size: 14px; border: none; cursor: pointer; margin-top: 40px;">
                <%= buttonText %>
              </button>
            </div>
          </div>
        </div>
        <div style="padding: 20px; margin-top: 40px; text-align: center; color: #4b5563; border-top: 2px solid #dfdfdf; font-size: 14px;">
          <img
            src="https://res.cloudinary.com/daprkakyk/image/upload/v1741260445/luxe/uiiqdcle3kayym5qg1kp.png"
            alt="STEAM Institute"
            style="max-width: 100%; height: auto; width: 96px; margin: 0 auto;"
          />
          <div style="margin: 16px 0; color:#000000"><%= address %></div>
          <div style="width:fit-content; margin: 4px auto; display: flex;  align-items: center;">
            <div style="text-align: center; margin-right: 16px;">
              <div>Copyright &copy; <%= year %></div>
            </div>
            <div > 
              <% [
              {
                type: "Email",
                imageUrl: "https://res.cloudinary.com/daprkakyk/image/upload/v1741340472/luxe/ufeltgfvhtavkw33lxpo.png",
                alt: "Email",
                link: "mailto:info@steaminstitute.online"
              },
              {
                type: "Phone",
                imageUrl: "https://res.cloudinary.com/daprkakyk/image/upload/v1741340452/luxe/loj3zsuxiv0vittz1dor.png",
                alt: "Phone",
                link: "tel:+1234567890" // Replace with actual phone number
              },
              {
                type: "Twitter",
                imageUrl: "https://res.cloudinary.com/daprkakyk/image/upload/v1741339966/luxe/quwwconumvn1zim50zpp.png",
                alt: "Twitter",
                link: "https://twitter.com/yourhandle" // Replace with actual Twitter handle
              },
              {
                type: "Instagram",
                imageUrl: "http://res.cloudinary.com/daprkakyk/image/upload/v1741340046/luxe/knllqvkduyjtdsoxyntz.png",
                alt: "Instagram",
                link: "https://instagram.com/yourhandle" // Replace with actual Instagram handle
              }
            ].forEach(function(icon) { %>
                <a href="<%= icon.link %>" style="text-decoration: none;">
                  <img style="width: <%= icon.type === 'Email' ? '20px' : (icon.type === 'Instagram' ? '25px' : '16px') %>; display: inline-block; margin: 0 8px; vertical-align: middle; opacity: 0.8; transition: opacity 0.2s;"
                    src="<%= icon.imageUrl %>"
                    alt="<%= icon.alt %>"
                  />
                </a>
              <% }); %>
           
            </div>
          </div>
        </div>
        <table role="presentation" width="100%" style=" border-top: 2px solid #dfdfdf; color: #808080; font-size: small; border-collapse: collapse;">
          <tr style="border-bottom: 2px solid #dfdfdf;">
            <td align="left" style="padding: 10px 24px;">info@steaminstitute.online</td>
            <td align="right" style="padding: 10px 24px;">
              <a href="http://www.steaminstitute.online/" style="text-decoration: none; color: #808080;">
                www.steaminstitute.online
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
